# CSV를 읽어서 디비에 한번에 밀어 넣기 
---

In [43]:
# conda install pymysql -y
# !pip install pymysql-y

In [44]:
# 파이썬에서 mysql 계열에 access 할 수 있는 모듈
import pymysql

In [45]:
# 데이터프레임에서 데이터베이스와 연동하기위한 sql 드라이버 
from sqlalchemy import create_engine

In [46]:
# csv -> df
import pandas as pd
# df -> sql
import pandas.io.sql as pSql

In [47]:
# csv -> df로 바로 읽어서 변환 
path = './raws/gu.csv'
df = pd.read_csv(path)

In [48]:
df

   gu_id    gu
0      1   용산구
1      2    중구
2      3   종로구
3      4  서대문구
4      5  동대문구
5      6   성북구
6      7   성동구
7      8   마포구

---

#### 마리아 디비 - setup
- 마리아 디비 클라이언트 커맨드 창으로 제공 

```bash
Type 'help;' or '\h' for help. Type '\c' to clear the current input statement.

MariaDB [(none)]> create database python_db;
Query OK, 1 row affected (0.001 sec)

MariaDB [(none)]> show databases;
+--------------------+
| Database           |
+--------------------+
| information_schema |
| mysql              |
| performance_schema |
| python_db          |
| test               |
+--------------------+
5 rows in set (0.001 sec)

MariaDB [(none)]>

```
- 인코딩 제너럴 c

---
# df-> sql-> db적제

In [49]:
# user = 'root'
# pw = '12341234'

In [50]:
# # 연결 
# # 'mysql+pmysql://root:비밀번호@127.0.0.1/python_db'  # 골벵이 필수 
# db_url = 'mysql+pymysql://'+user+':'+pw+'@127.0.0.1/python_db'   # 주소

In [51]:
db_url = 'mysql+pymysql://root:12341234@127.0.0.1/python_db'

In [52]:
db_url

'mysql+pymysql://root:12341234@127.0.0.1/python_db'

In [53]:
# 엔진 생성 
engine = create_engine(db_url, encoding = 'utf-8')

In [54]:
# 디비연결
conn = engine.connect()

In [55]:
# 연결 해제
if conn:
    conn.close()

In [56]:
# 연결 및 자동 해제

with engine.connect() as conn:
    # 삽입 
    # name : 테이블 명 
    # if_exists : 기존데이터가 존재하면 지우고 덮을것 or not 
    # index : df의 index도 데이터로 넣을것 or not 
    
    df.to_sql( name ='tbl_areas', con=conn, if_exists='replace', index= False)

In [57]:
# 1. csv -> df로 읽어서 변환
df = pd.read_csv('./raws/gps.csv')
df

    `        lat         lng
0   1  37.554877  126.969665
1   1  37.553087  126.976429
2   1  37.555221  126.976546
3   1  37.553207  126.978747
4   1  37.553687  126.985415
5   1  37.547229  126.995229
6   1  37.549695  126.998325
7   1  37.550159  127.004368
8   1  37.548202  127.006133
9   1  37.546170  127.004997
10  1  37.543859  127.007278
11  1  37.544133  127.008985
12  1  37.539639  127.009591
13  1  37.537681  127.017262
14  1  37.533789  127.017193
15  1  37.522902  127.006140
16  1  37.513092  126.990702
17  1  37.506547  126.985537
18  1  37.507021  126.975249
19  1  37.517518  126.949885
20  1  37.527029  126.949879
21  1  37.534520  126.944819
22  1  37.537500  126.953357
23  1  37.542313  126.958174
24  1  37.545463  126.957905
25  1  37.548792  126.963720
26  1  37.551555  126.962338
27  1  37.554151  126.965714
28  1  37.555662  126.969185
29  1  37.554877  126.969665
30  2  37.554877  126.969665
31  2  37.553087  126.976429
32  2  37.555221  126.976546
33  2  37.553207  126.978747
34  2  37.553687  126.985415
35  2  37.547229  126.995229
36  2  37.549695  126.998325
37  2  37.550159  127.004368
38  2  37.548202  127.006133
39  2  37.546170  127.004997
40  2  37.543859  127.007278
41  2  37.544133  127.008985
42  2  37.539639  127.009591
43  2  37.537681  127.017262
44  2  37.533789  127.017193
45  2  37.522902  127.006140
46  2  37.513092  126.990702
47  2  37.506547  126.985537
48  2  37.507021  126.975249
49  2  37.517518  126.949885
50  2  37.527029  126.949879
51  2  37.534520  126.944819
52  2  37.537500  126.953357
53  2  37.542313  126.958174
54  2  37.545463  126.957905
55  2  37.548792  126.963720
56  2  37.551555  126.962338
57  2  37.554151  126.965714
58  2  37.555662  126.969185
59  2  37.554877  126.969665

'`'

In [64]:
df.columns[0] = 'gu_id'

TypeError: Index does not support mutable operations

In [60]:
#   
with engine.connect() as conn:
    df.to_sql( name ='tbl_gps', con=conn, if_exists='replace', index= False)