## 장점

- 테이블을 알아서 만들어준다
- csv -> DataFrame -> database에 insert (끝)

In [4]:
#! conda install pymysql -y

In [5]:
! pip install pymysql

Collecting pymysql
  Downloading https://files.pythonhosted.org/packages/ed/39/15045ae46f2a123019aa968dfcba0396c161c20f855f11dea6796bcaae95/PyMySQL-0.9.3-py2.py3-none-any.whl (47kB)
Installing collected packages: pymysql
Successfully installed pymysql-0.9.3

In [10]:
# 파이썬에서 mysql 계열에 access 할수 있는 모듈
import pymysql

In [11]:
# DataFrame에서 디비와 연동하기위한 sql드라이버
from sqlalchemy import create_engine

In [12]:
# csv -> df
import pandas as pd
# df -> sql
import pandas.io.sql as pSql

In [13]:
# 1. csv -> df로 읽어서 변환
df = pd.read_csv('./raws/gu.csv')
df

   gu_id    gu
0      1   용산구
1      2    중구
2      3   종로구
3      4  서대문구
4      5  동대문구
5      6   성북구
6      7   성동구
7      8   마포구

# df -> sql -> db에 적제

In [18]:
# 연결
db_url = 'mysql+pymysql://root:11111111@127.0.0.1/python_db'
db_url

'mysql+pymysql://root:11111111@127.0.0.1/python_db'

In [19]:
# 엔진생성
engine = create_engine( db_url, encoding='utf8' )

In [20]:
# 디비연결
conn = engine.connect()

In [21]:
# 연결해제
if conn:
    conn.close()

In [22]:
# 연결및 자동해제
with engine.connect() as conn:
    # 삽입
    # name:테이블명
    # if_exists:기존데이터가존재하면 지우고덮을것인가?
    # 추가할것인가?
    # index : df의 index도 데이터로  넣을것인가?
    df.to_sql( name='tbl_areas', con=conn, 
               if_exists='replace', index=False )

In [ ]:
# 실습 gps.csv파일을 tbl_gps에 입력하시오