## 장점

- 테이블을 알아서 만들어준다
- csv -> DataFrame -> database에 insert (끝)

In [4]:
#! conda install pymysql -y

In [5]:
! pip install pymysql

Collecting pymysql
  Downloading https://files.pythonhosted.org/packages/ed/39/15045ae46f2a123019aa968dfcba0396c161c20f855f11dea6796bcaae95/PyMySQL-0.9.3-py2.py3-none-any.whl (47kB)
Installing collected packages: pymysql
Successfully installed pymysql-0.9.3

In [6]:
# 파이썬에서 mysql 계열에 access 할수 있는 모듈
import pymysql

In [7]:
# DataFrame에서 디비와 연동하기위한 sql드라이버
from sqlalchemy import create_engine

In [8]:
# csv -> df
import pandas as pd
# df -> sql
import pandas.io.sql as pSql

In [9]:
# 1. csv -> df로 읽어서 변환
df = pd.read_csv('./raws/gu.csv')
df

   gu_id    gu
0      1   용산구
1      2    중구
2      3   종로구
3      4  서대문구
4      5  동대문구
5      6   성북구
6      7   성동구
7      8   마포구